/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
/database/*.sqlite
/database/*.sqlite-journal
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
