/*//////////////////////////////////////////////////////////////////
[ base ]*/
// $body-bg: #c9c9bd;

// .home {
//     width: 100%;
//     height: 100vh;
//     background-image: url(https://images.unsplash.com/
// );
//     background-position: center top;
// 	background-size:cover;
// }
html,
body {
    /* top, transparent black, faked with gradient */
    // background:
    //     /* top, transparent black, faked with gradient */
    //     linear-gradient(
    //       rgba(0, 0, 0, 0.7),
    //       rgba(0, 0, 0, 0.7)
    //     ),
    //     /* bottom, image */
    //     url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");

    background-size: cover;
    background-color: #c9c9bd;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}

.home {
    margin-top: "65px";
}

.base {
    .content {
        padding: 0;
        height: 100vh;
        margin-top: 3em;
    }
}
