/*//////////////////////////////////////////////////////////////////
[ createprofile ]*/

.demo-card-wide.mdl-card {
width: 700px;
}
.demo-card-wide > .mdl-card__title {
height: 70px;
}
.demo-card-wide > .mdl-card__menu {
color: #fff;
}

body {
padding: 20px;
background: #fafafa;
position: relative;
}